.location .location-name {
    color: white;
    background-color: crimson;
    padding: 0.3em;
    border-radius: 5px;
    border: 2px gold outset;
    line-height: 1.2em;
    margin: 0.3em 0;
    text-align: center;
    font-family: sans-serif;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .location .location-name {
        font-size: 1.2em;
    }
}