@font-face {
	font-family: 'PokeHollow';
	src: url('../fonts/PokemonHollow.ttf') format('truetype')
}

@font-face {
	font-family: 'PokeSolid';
	src: url('../fonts/PokemonSolid.ttf') format('truetype')
}

@font-face {
	font-family: 'Flexo';
	src: url('../fonts/Flexo.otf') format('opentype')
}

.poke-info .img-name {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px blue outset;
    width: 90%;
    margin: 0.5em auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.poke-info .img-name .poke-name {
    text-transform: uppercase;
    color: gold;
    font-size: 1.8em;
    font-family: 'PokeSolid';
    text-transform: capitalize;
    letter-spacing: 0.1em;
    text-shadow:
		-2px -2px 0 #0550BE,
		2px -2px 0 #0550BE,
		-2px 2px 0 #0550BE,
		2px 2px 0 #0550BE;
}

.poke-info .poke-details {
    display: flex;
    flex-direction: column;
    padding: .5em .5em;
    text-align: right;
    align-items: flex-end;
    background-color: rgba(80, 251, 142, 0.5);
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
}

.poke-info .poke-details .type-boxes {
    display: flex;
}
.poke-info .poke-details .type-boxes .poke-type {
    padding: 0.15em;
    margin: 0 0.2em 0.3em 0.2em;
    border-radius: 5px;
    border: 2px gold outset;
    text-transform: capitalize;
}

.poke-info .poke-details .type-boxes .poke-type .poke-type-name,
.poke-info .poke-details .weak-boxes .weakness .poke-type-name {
    width: 5em;
    text-align: center;
    font-family: 'Flexo';
    font-weight: bold;
}

.poke-info .poke-details h3 {
    font-size: 1.4em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 0.1em;
    font-family: 'Flexo';
    font-weight: bolder;
}

.poke-info .poke-details h4 {
    font-size: 0.9em;
    text-transform: uppercase;
    font-style: italic; 
    font-family: 'Flexo';
}

