@font-face {
	font-family: 'PokeHollow';
	src: url('../fonts/PokemonHollow.ttf') format('truetype')
}

@font-face {
	font-family: 'PokeSolid';
	src: url('../fonts/PokemonSolid.ttf') format('truetype')
}

@font-face {
	font-family: 'Flexo';
	src: url('../fonts/Flexo.otf') format('opentype')
}

.weakness .double-damage-from .double-damage-from-types,
.weakness .half-damage-from .half-damage-from-types,
.weakness .no-damage-to .no-damage-to-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 0.2em 0.3em 0.2em;
}

.weakness .double-damage-from .double-damage-from-types p,
.weakness .half-damage-from .half-damage-from-types p,
.weakness .no-damage-to .no-damage-to-types p {
    padding: 0.15em;
    margin: 0 0.2em 0.2em 0;
    border-radius: 5px;
    border: 2px gold outset;
    width: 5em;
    text-align: center;
    font-family: 'Flexo';
    font-weight: bold;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .weakness .double-damage-from .double-damage-from-types p,
    .weakness .half-damage-from .half-damage-from-types p,
    .weakness .no-damage-to .no-damage-to-types p {
        font-size: 1.3em;
    }
}